.chatPage {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.chatMenu {
  flex: 3.5;
}

.chatMenuInput {
  padding: 10px;
  border: 1px #dfdade solid;
  width: 70%;
}

.chatMenuSearchBar {
  position: relative;
}

.chatMenuSearchButton {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80px;
  border: none;
  font-size: large;
  background-color: #ca6c68;
  color: aliceblue;
  cursor: pointer;
}

.chatBox {
  flex: 5.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatBoxTop {
  overflow-y: scroll;
}

.chatBoxBottom {
  display: flex;
  margin-top: 5px;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ca6c68;
  color: white;
}

.chatOnline {
  flex: 3;
}

.chatMenu,
.chatBox,
.chatOnline {
  padding: 10px;
}
